.container{
 
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
 
  flex-direction:column;
  background-image:url("../public/autoImage/Additon.jpg");
  
  background-position: center;
  background-repeat:repeat;
 
  


}
.body{
  border:solid grey 2px;
  border-radius:8px;
  width:350px;
  text-align:justify;
  min-height:auto;
  background-color:white;
  box-shadow: 10px 10px 5px brown;
}
.topic{
  color:brown;
  text-align:center;
}